<!-- 
* Daftar Module
* menampilkan list-list module yang telah dibuat
* perlu ada direktori untuk menyimpan hasil json generate
* yang nanti bisa dipanggil lagi untuk di edit
-->
<section name="appgen-list" data-title="Daftar Module">
	<a class="generator-button-new" href="javascript:void(0)"></a>
	<table>

	</table>
</section>	


<!-- 
* Designer Editor
* nama program, deskripsi, table utama
* data2 detil related ke data utama
* drag and drop componen-component ke masing2 header / detail, kemudian dikonfigurasi
* -->
<section name="appgen-datadesign" data-title="Design Data">
	<a class="generator-button-new" href="javascript:void(0)"></a>
	<div id="appgen-datadesign-layout">
		<!-- Program Definition -->
		
		<div id="layout-definition">
			<div class="subtitle" style="grid-column: span 2;">Program Definition</div>

			<label for="obj_programname">Program Name</label>
			<input type="text" id="obj_programname">
			
			<label for="obj_programdescription">Description</label>
			<input type="text" id="obj_programdescription">
		
		</div>
		
		<!-- Definisi Header Detil -->
		<div id="layout-entity">
			<div class="subtitle">Entites</div>
			<table id="tbl_entity" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th name="col_name">Name</th>
						<th name="col_title">Title</th>
						<th name="col_table">Table</th>
						<th name="col_pk">PK</th>
						<th name="col_btndesign"></th>
						<th name="col_btnremove"></th>
						<th name="col_id">ID</th>
					</tr>
				</thead>
				<tbody id="data-entities">

				</tbody>
				<tfoot>
					<tr>
						<td colspan="7" style="padding-left: 0;"><button id="btn_addentity">Add Entity</button></td>
					</tr>
				</tfoot>

			</table>
			
		</div>

		<!-- Table Editor, menerima drag and drop dari component -->
		<div id="layout-editor" class="hidden">
			<div class="subtitle">Data Editor</div>
			<div id="entities-design"></div>
		</div>

		<!-- Side Bar, untuk daftar komponen yang bisa di drag and drop, dan lain2 -->
		<div id="layout-sidebar" class="hidden">
			<div >
				<div class="subtitle">Components</div>
				<div id="crud-component-list">
				</div>
			</div>
		</div>

	</div>

</section>	

<section name="appgen-uidesign" data-title="User Interface">
</section>	


<div id="DESIGNTEMPLATE" class="hidden">

	<!-- DESIGNER INFO -->
	<div name="designer-info" class="designer-info">
		<div name="col_title" data-tag="content">{title}</div>

		<div data-tag="label">Name</div>
		<div data-tag="content" name="col_name">{name}</div>

		<div data-tag="label">Table</div>
		<div data-tag="content" name="col_table">{table}</div>
		
		<div data-tag="label">PK</div>
		<div data-tag="content" name="col_pk">{pk}</div>
	</div>


	<!-- DROP TARGET -->
	<div name="drop-target" class="drop-target">
		drag and drop component here
	</div>

	<!-- ICON TOOL -->
	 <div name="component-icon-tool" class="component-icon-tool" draggable="true">
		<div data-icon></div>
		<div data-label>Textbox</div>
	</div>

	<!-- FIELD EDITOR -->
	<div name="design-data-field" class="design-data-field" data-template="textbox">
		<div name="component-type"></div>
		<div>
		<!--     1                    2                        3              4                  5                6  -->
			<label>Field name</label><div>
			<input type="text" name="fieldname"></div>  
			
			<label>Type</label>
			<div>
				<select name="datatype">
					<option selected>varchar</option>
					<option>char</option>
					<option>integer</option>
				</select>
			</div>  
			
			<label>Length</label>
			<div><input type="number" name="length" value="30"></div>

			<label>Description</label>
			<div style="grid-column: span 3;"><input type="text" name="description"></div>
			
			<div></div>
			<label name="allownull"><input type="checkbox" style="transform: translateY(2px);" checked>Allow Null</label>
			

			<div style="display: block; height: 1rem;"></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>

			<label>Object Name</label><div>
			<input type="text" name="objectname"></div>  

			<label>Label Text</label><div>
			<input type="text" name="labeltext"></div> 
			
			<div></div>
			<div></div>


			<label name="validation">Validation</label>
			<div style="grid-column: span 5;" name="validation">

				<label name="isrequired"><input type="checkbox" style="transform: translateY(2px);">Required</label>
				<div></div>
				<input type="text" name="" placeholder="invalid message">

				<label name="min"><input type="checkbox" style="transform: translateY(2px);">Minimum</label>
				<input type="number" name="min">
				<input type="text" name="" placeholder="invalid message">

				<label name="max"><input type="checkbox" style="transform: translateY(2px);">Maximum</label>
				<input type="number" name="max">
				<input type="text" name="" placeholder="invalid message">

			</div>
		</div>
	</div>



	<div name="design-data-field" class="design-data-field" data-template="numberbox">
		<div name="component-type"></div>
		<div>
		<!--     1                    2                        3              4                  5                6  -->
			<label>Field name</label><div>
			<input type="text" name="fieldname"></div>  
			
			<label>Type</label>
			<div>
				<select name="datatype">
					<option selected>integer</option>
					<option>decimal</option>
				</select>
			</div>  
			
			<label>Length</label>
			<div><input type="number" name="length" value="9"><input type="number" name="precission" value="0"></div>

			<label>Description</label>
			<div style="grid-column: span 3;"><input type="text" name="description"></div>
			
			<div></div>
			<label name="allownull"><input type="checkbox" style="transform: translateY(2px);">Allow Null</label>
			

			<div style="display: block; height: 1rem;"></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>

			<label>Object Name</label><div>
			<input type="text" name="objectname"></div>  

			<label>Label Text</label><div>
			<input type="text" name="labeltext"></div> 
			
			<div></div>
			<div></div>


			<label name="validation">Validation</label>
			<div style="grid-column: span 5;" name="validation">

				<label name="isrequired"><input type="checkbox" style="transform: translateY(2px);">Required</label>
				<div></div>
				<input type="text" name="" placeholder="invalid message">

				<label name="min"><input type="checkbox" style="transform: translateY(2px);">Minimum</label>
				<input type="number" name="min">
				<input type="text" name="" placeholder="invalid message">

				<label name="max"><input type="checkbox" style="transform: translateY(2px);">Maximum</label>
				<input type="number" name="max">
				<input type="text" name="" placeholder="invalid message">

			</div>
		</div>
	</div>


	<div name="design-data-field" class="design-data-field" data-template="checkbox">
		<div name="component-type"></div>
		<div>
		<!--     1                    2                        3              4                  5                6  -->
			<label>Field name</label><div>
			<input type="text" name="fieldname"></div>  
			
			<label>Type</label>
			<div>
				<select name="datatype">
					<option selected>tinyint</option>
				</select>
			</div>  
			
			<div></div>
			<div></div>

			<label>Description</label>
			<div style="grid-column: span 5;"><input type="text" name="description"></div>

			<div style="display: block; height: 1rem;"></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>

			<label>Object Name</label><div>
			<input type="text" name="objectname"></div>  

			<label>Label Text</label><div>
			<input type="text" name="labeltext"></div> 
			
			<label>Caption</label><div>
			<input type="text" name="caption"></div> 

		</div>
	</div>


</div>


