<!-- ini data yang mau diinclude vis js -->
<div data-action name="action3">
	<button id="btn_post">post</button>	
	<button id="btn_print">print</button>	
	<button id="btn_coba">coba</button>	
</div>	