<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	

		<%- include(style); %>

		<%- include(script); %>


		<link rel="stylesheet" href="./styles/demo.css" />
		<link rel="stylesheet" href="./styles/demo-application.css" />
	</head>
	<body>
		<main id="myapp">
			Contoh Applikasi sederhana



		</main>
	</body>


	<script type="module">
		import MyApp from './src/demo-application.mjs'
		window.addEventListener("load", async (event) => {
			var $app = new MyApp();
			await $app.main();
		});
	</script>
</html>