<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	

		<style>
			body {
				overscroll-behavior-y: contain;
				user-select: none
			}

			@media screen and (max-width: 500px) { 
				html, body, input, button {
					font-size: 20px;
				}
			}

			dialog {
				outline: none;
			}
		</style>


		<%- include(style); %>

		<%- include(script); %>


		<link rel="stylesheet" href="./styles/demo.css" />
		<link rel="stylesheet" href="./styles/demo-gridview.css" />
	</head>
	<body>
		<header>
			<h1>GridView</h1>
		</header>
		
		<main>

			<div style="display: flex; column-gap: 5px;">

				<div style="width: 200px;">
					<input id="txt_search" placeholder="searchtext">
				</div>
				<button id="btn_search" style="outline: none; border: none; background-color: transparent; cursor: pointer; transform: translateY(3px) translateX(-32px);">
					<img src="images/icon-search.svg" style="width: 18px; height: 18px;" >
				</button>
				<div style="flex-grow: 1;"></div>
				<button id="btn_remove" style="outline: none; border: none; background-color: transparent; cursor: pointer; transform: translateY(3px)">
					<img src="images/icon-trash.svg" style="width: 18px; height: 18px;" >
				</button>
			</div>

			<table id="tbl_data" fgta5-component="Gridview" class="demo-gridview">
				<thead>
					<tr data-header key="nama">
						<th rowselector></th>
						<th autonumber>No</th>
						<th data-name="nama" binding="nama" sorting="true">Nama Lengkap</th>
						<th data-name="namalengkap" binding="nama">Nama</th>
						<th data-name="alamat" binding="alamat">Alamat</th>
						<th data-name="kota" binding="kota" sorting="true">Kota</th>
						<th data-name="amount" binding="amount" sorting="true" formatter="decimal(value, 0)" text-align="right">Amount</th>
						<th data-name="phone" binding="phone"  text-align="center">Phone</th>
						<th data-name="disabled" binding="disabled" formatter="checkmark(value)" text-align="center">Disabled</th>
					</tr>
				</thead>
			</table>


			
			
		</main>

		<hr>
		<a href="/">index</a>
		
		<div id="fgta5-loading-pagemask">
			<div style="font-family: system-ui, sans-serif">
				Please Wait ...
			</div>
		</div>
	</body>


	<script type="module">
		import Page from './src/demo-gridview.mjs'

		window.addEventListener("load", async (event) => {
			var $page = new Page();
			await $page.main();

			var pagemask = document.getElementById('fgta5-loading-pagemask')
			pagemask.style.opacity = 0
			pagemask.style.visibility = 'hidden'
			setTimeout(()=>{
				pagemask.parentNode.removeChild(pagemask)
			}, 500);
		});
	</script>
</html>