<!DOCTYPE html>
<html>
	<head>
		<title>Judul Applikasi</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://cdn.jsdelivr.net/gh/fgta5/fgta5js@main/dist/fgta5js-v1.0.0-min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fgta5/fgta5js@main/dist/fgta5js-v1.0.0-min.css" />
		<style>
			body {
				background-color: #fff;
			}
		</style>
	</head>
	<body>
		<main id="myapp">
			Contoh Template Applikasi sederhana
		</main>
	</body>


	<script type="module">
		window.addEventListener("load", async (event) => {
			const app = new $fgta5.Application('myapp')
			// main program js disini
		});
	</script>
</html>

