<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	

		<%- include(style); %>

		<%- include(script); %>


		<link rel="stylesheet" href="./styles/demo.css" />
		<link rel="stylesheet" href="./styles/demo-application.css" />
	</head>
	<body>
		<main id="myapp">
			Contoh Applikasi sederhana
			<!-- <div id="" data-panel>
				<table>

				</table>
			</div>

			<div id="" data-panel>
				<form>

				</form>
				<div data-detail>
					<button data-panel-id="app-detil">Detil</button>
					<button data-panel-id="app-record">Record</button>
					<button data-panel-id="app-log">Log</button>
				</div>
				<div data-footerbutton>
					<button id="btnEdit">Edit</button>
					<button id="btnNew">New</button>
					<button id="btnSave">Save</button>
					<button id="btnDelete">Delete</button>
				</div>
			</div>

			<div id="" data-panel>

			</div> -->




		</main>
	</body>


	<script type="module">
		import MyApp from './src/demo-application.mjs'
		window.addEventListener("load", async (event) => {
			var $app = new MyApp();
			await $app.main();
		});
	</script>
</html>