<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	

		<%- include(style); %>

		<%- include(script); %>


		<link rel="stylesheet" href="./styles/demo.css" />
		<link rel="stylesheet" href="./styles/demo-appmanager.css" />


		<style>
			#loadingindicator {
				position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; background-color: #fff;
				transition: opacity 0.5s ease, visibility 0.5s ease;
			}
		</style>
	</head>
	<body>
		<main id="appmain">
			<h1>Welcome,</h1>
			<div data-currentuser></div>
			<div data-favourite></div>
			<div data-openedmodule></div>


			<div class="fgta5-appmanager-home-subtitle">Tips</div>
			<ul>
				<li>untuk kembali ke home (halaman ini) dari program, anda bisa klik icon rumah di kiri atas</li>
				<li>anda dapat menambahkan program yang telah dibuka ke favourite dengan cara drag and drop icon pada opened module ke bagian favourite (desktop). Icon tidak akan ditambahkan jika sudah ada</li>
				<li>untuk menghapus favourite, drag and drop icon dari favourite ke simbol tempat sambah di bawah header (akan muncul saat anda mulai drag and drop) (desktop)</li>
			</ul>
		</main>
		<div id="loadingindicator">
			<div style="font-family: system-ui, sans-serif">
				Loading ...
			</div>
		</div>
	</body>

	<% if (env=='release') { %>

		<script type="module">
			import Page from './dist/demo-appmanager-v1.0.0-min.js'
			window.addEventListener("load", async (event) => {
				var $page = new Page();
				await $page.main();

				var pagemask = document.getElementById('loadingindicator')
				pagemask.style.opacity = 0
				pagemask.style.visibility = 'hidden'
				setTimeout(()=>{
					pagemask.parentNode.removeChild(pagemask)
				}, 500);
			});
			
		</script>

	<% } else { %>

		<script type="module">
			import Page from './src/demo-appmanager.mjs'
			window.addEventListener("load", async (event) => {
				var $page = new Page();
				await $page.main();

				var pagemask = document.getElementById('loadingindicator')
				pagemask.style.opacity = 0
				pagemask.style.visibility = 'hidden'
				setTimeout(()=>{
					pagemask.parentNode.removeChild(pagemask)
				}, 500);
			});
		</script>

	<% } %>


</html>