<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" href="favicon.ico">
	</head>

	<body>
		<header>
			<h1>Fgta5js Development</h1>
		</header>
		
		<main>
			<ul>
				<li><a href="debug/demo-modal">Modal</a></li>
				<li><a href="debug/demo-messagebox">MessageBox</a></li>
				<li><a href="debug/demo-form">Form</a></li>
				<li><a href="debug/demo-gridview">GridView</a></li>
			</ul>
		</main>

	</body>



</html>