<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Application - fgta5js</title>

	<link rel="stylesheet" href="/demo/styles/fgta5js-v1.9.2.min.css" />
	<script type="module" src="/demo/scripts/fgta5js-v1.9.2.min.js"></script>

</head>

<body style="background-color: #fff;">
	<main id="myapp">
		<h1>
			<%=module%>
		</h1>
		Contoh Applikasi sederhana



	</main>

	<script>
		window.addEventListener("load", async (event) => {
			const app = new $fgta5.Application('myapp')
		});
	</script>
</body>

</html>