<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Textbox</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">


	<!-- Library styles: Production -->
	<link rel="stylesheet" href="fgta5/styles/fgta5js-root.css" />
	<link rel="stylesheet" href="fgta5/styles/fgta5js-entry.css" />


	<script>
		window.$validators = {}
	</script>

</head>

<body>

	<div>
		<label for="obj_textbox">Full Name</label>
		<input id="obj_textbox" fgta5-component="Textbox" placeholder="Type a name..." autocomplete="off"
			character-case="uppercase" required minlength="3">
	</div>


	<div>
		txt.acceptChanges()

	</div>


	<script type="module">
		import * as Validators from '/fgta5/components/Validators.mjs'
		import Textbox from '/fgta5/components/Textbox.mjs'

		window.$validators = Validators;
		window.addEventListener("load", async () => {
			const txt = new Textbox('obj_textbox')

			// Allow console debugging
			window.txt = txt




		});
	</script>
</body>


</html>