<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FGTA5 Dev - Form</title>

	<link rel="stylesheet" href="/dev/style.css">
</head>

<body>
	<h1>Form</h1>


	<div class="buttons-panel">
		<button id="btnTogle" class="action-button">Togle Edit</button>
		<div style="flex-grow: 1;"></div>
		<button id="btnAccept" class="action-button" disabled>
			<span class="action-button-icon">
				<svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5"
					stroke-linecap="round" stroke-linejoin="round">
					<polyline points="20 6 9 17 4 12"></polyline>
				</svg>
			</span>
			<span class="action-button-text">Accept Changes</span>
		</button>
		<button id="btnReset" class="action-button" disabled>
			<span class="action-button-icon">
				<svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5"
					stroke-linecap="round" stroke-linejoin="round">
					<path d="M21.5 2v6h-6M21.34 15.57a10 10 0 1 1-.57-8.38l5.67-5.67"></path>
				</svg>
			</span>
			<span class="action-button-text">Reset</span>
		</button>
	</div>
	<div>

		<form id="main_form" locked="true">
			<div id="obj_name-container" class="input-field" field="obj_name"
				style="grid-row: 1; grid-column: 1 / span 2;">
				<label for="obj_name">
					Nama
				</label>
				<input id="obj_name" fgta5-component="Textbox" placeholder="name" autocomplete="off" spellcheck="false"
					binding="auth_name" data-tabindex="2" character-case="uppercase" required
					invalid-message-required="nama authorisasi harus diisi" autocomplete="off" spellcheck="false"
					maxlength="30">
			</div>


			<div id="obj_disabled-container" class="input-field" field="obj_disabled"
				style="grid-row: 1; grid-column: 3 / span 2;">
				<label for="obj_disabled" class="fgta5-entry-label">Account Is Disabled</label>
				<input id="obj_disabled" fgta5-component="Checkbox" type="checkbox" binding="isdisabled">
			</div>


			<div id="obj_address-container" class="input-field" field="obj_name"
				style="grid-row: 2; grid-column: 1 / span 6;">
				<label for="obj_address">
					Alamat
				</label>
				<input id="obj_address" fgta5-component="Textbox" placeholder="alamat" autocomplete="off"
					spellcheck="false" binding="auth_name" data-tabindex="2" autocomplete="off" spellcheck="false"
					maxlength="30" multiline>
			</div>



			<div style="grid-row: 3; grid-column: 1/ span 2;">
				<div id="obj_nilai-container" class="input-field" field="obj_nilai">
					<label for="obj_nilai">Amount</label>
					<input id="obj_nilai" fgta5-component="Numberbox" placeholder="Value" autocomplete="off"
						spellcheck="false" min="50" max="999999999" maxlength="12" precision="2" binding="nilai"
						value="897123456.88" description="Enter numeric value between 50 and 200"
						invalid-message="Value must be in range 50 to 200">
				</div>
			</div>


			<div class="input-field" field="obj_city" style="grid-row: 3; grid-column: 3/ span 2;">
				<label for="obj_city">City</label>
				<input id="obj_city" fgta5-component="Combobox" placeholder="Search and select city..."
					autocomplete="off" spellcheck="false" binding="city_id" description="City of residence"
					invalid-message="City is required">
			</div>



			<div class="input-field" field="obj_gender" style="grid-row: 3; grid-column: 5/ span 2;">
				<label for="obj_gender">Gender</label>
				<input id="obj_gender" fgta5-component="Combobox" placeholder="Search gender..." autocomplete="off"
					spellcheck="false" binding="gender" description="Gender" required
					invalid-message="Gender is required">
				<datalist for="obj_gender">
					<option value="F" default="true">Female</option>
					<option value="M">Male</option>
				</datalist>
			</div>



			<div class="input-field" field="obj_tanggal" style="grid-row: 4; grid-column: 1/ span 2;">
				<label for="obj_tanggal">Date</label>
				<input id="obj_tanggal" fgta5-component="Datepicker" placeholder="Select Date..." autocomplete="off"
					spellcheck="false" min="2025-06-02" binding="tanggal" description="Choose a date">
			</div>


			<div class="input-field" field="obj_jam" style="grid-row: 4; grid-column: 3/ span 2;">
				<label for="obj_jam">Time</label>
				<input id="obj_jam" fgta5-component="Timepicker" placeholder="Select Time..." autocomplete="off"
					spellcheck="false" binding="jam" description="Select hours & minutes">
			</div>



			<div class="input-field" field="obj_file" style="grid-row: 5; grid-column: 1/ span 3;">
				<label for="obj_file">Attach File</label>
				<input id="obj_file" fgta5-component="Filebox" placeholder="Upload file" binding="file">
			</div>

		</form>
	</div>


	<script type="module" src="/fgta5/main.mjs"></script>
	<script type="module">
		import Page from '/dev/form-dev.mjs';
		let page = new Page()
		window.addEventListener("load", async () => {
			// Initialize component
			await page.main()
		})
	</script>
</body>

</html>