<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FGTA5 Dev</title>
</head>

<body>
	<h1>FGTA5 Development</h1>
	<ul>
		<li><a href="/dev/textbox">Textbox Dev</a></li>
		<li><a href="/dev/numberbox">Numberbox Dev</a></li>
		<li><a href="/dev/datepicker">Datepicker Dev</a></li>
		<li><a href="/dev/timepicker">Timepicker Dev</a></li>
	</ul>

</body>

</html>