/* begin form basic style */

.demo-input-field {
	display: flex;
	column-gap: 10px;
	/* background-color: aliceblue; */
}

.demo-input-field > label {
	margin-top: 4px;
	font-size: 0.8rem;
	font-weight: bold;
	
}

@media screen and (max-width: 500px) {
	.demo-input-field {
		flex-direction: column;
	}

	.demo-input-field > div[label],
	.demo-input-field > label {
		text-align: left;
		margin-bottom: 5px;
		width: fit-content;
		min-width: unset;
	}
}


@media screen and (min-width: 501px) {
	.demo-input-field > label {
		text-align: right;
		width: 80px;
	}
}

/* end of form basic style layout */




.demo-input-field[field=obj_nama] .fgta5-entry-container {
	width: 12.5rem;
}


.demo-input-field[field=obj_alamat] {
	flex-basis: 100%; /* definisikan flex-basis, apabila dalam satu baris hanya akan terdapat maximal 1 field */
}


.demo-input-field[field=obj_nilai] > div[label] {
	width: 10px;
}

.demo-input-field[field=obj_nilai] {
	flex-basis: 100%; /* definisikan flex-basis, apabila dalam satu baris hanya akan terdapat maximal 1 field */
}

.demo-input-field[field=obj_nilai] .fgta5-entry-container {
	max-width: 3.75rem;
}






