.demo-gridview {
	margin-top: 10px;
	margin-bottom: 10px;
}



@media screen and (max-width: 500px) {
	/* kolom yang tidak muncul di mobile */
	.demo-gridview tr [autonumber],
	.demo-gridview tr [data-name="namalengkap"],
	.demo-gridview tr [data-name="alamat"] {
        display: none;
    }
}


.demo-gridview tr [data-name="phone"] {
	width: 60px;
}

.phone_button {
	display: inline-block;
	outline: none; border: none; background-color: transparent; cursor: pointer; transform: translateY(3px);
	padding: 0;
	margin: 0;
	width: 1rem; 
	height: 1rem;
}





/* ****
   BEGIN:  GRID VIEW THEME
*/
:root {
	--color-head-back: rgb(71, 45, 0);
	--color-head-fore: white;
	--color-hover-back: black;
	--color-hover-fore: white;
}

/* setup warna table header */
.fgta5-gridview .fgta5-gridview-head {
	background-color: var(--color-head-back);
	color: var(--color-head-fore);
}

/* setup warna tombol yang ada pada table header (tombol sorting) */
.fgta5-gridview .fgta5-gridview-head button {
	color: var(--color-head-fore);
}

/* setup warna checkbox sebagai rowselector pada table header */
.fgta5-gridview .fgta5-gridview-head[rowselector] {
	color:  black
}

/* warna ketika kursor ada di atas baris table */
.fgta5-gridview tbody tr:hover * {
	background-color: var(--color-hover-back) !important;
	color: var(--color-hover-fore) !important
}

/* warna ketika baris terpilih */
.fgta5-gridview [data-selected] td {
	background-color: rgba(155, 192, 255, 0.487)
}


/* ****
   END:  GRID VIEW THEME
*/