.demo-gridview {
	margin-top: 10px;
	margin-bottom: 10px;
}



@media screen and (max-width: 500px) {
	/* kolom yang tidak muncul di mobile */
	.demo-gridview tr [autonumber],
	.demo-gridview tr [data-name="namalengkap"],
	.demo-gridview tr [data-name="alamat"] {
        display: none;
    }
}


.demo-gridview tr [data-name="phone"] {
	width: 60px;
}

.phone_button {
	outline: none; border: none; background-color: transparent; cursor: pointer; transform: translateY(3px)
}


.fgta5-gridview .fgta5-gridview-head button {
	color: white
}

.fgta5-gridview .fgta5-gridview-head {
	background-color: rgb(71, 45, 0);
	color: white
}


.fgta5-gridview .fgta5-gridview-row:hover {
	background-color: rgb(0, 2, 91);
	color: white
}
