
.fgta5-modal-message {
	border: none;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); /* Shadow */
	min-width: 270px;
	user-select: none;
	z-index: 1000;
}

.fgta5-modal-message::backdrop {
	background-color: rgba(0, 0, 0, 0.6); /* Masking gelap */
}

.fgta5-modal-button {
	min-width: 80px;
	padding: 5px 3px;
}



.fgta5-modal-progressbar-container {
	background-color:  #ccc;
	max-width: 500px;
	margin: 0 auto;
	padding: 0;
}

.fgta5-modal-progressbar-text {
	padding: 5px 0 0 0;
	font-size: 0.8rem;
	user-select: text;
}

.fgta5-modal-progressbar-text[error=true] {
	color: red;
}

.fgta5-modal-progressbar {
	display: inline-block;
	text-align: center;
	font-size: 0.8rem;
	background-color: rgb(41, 41, 255);
	padding: 3px 0;
	color: #fff;
	transition: width 0.5s ease;
}

.fgta5-modal-progressbar[error=true] {
	background-color: red;
}





.fgta5-modal-loadermask-msg {
	display: flex;
	column-gap: 10px;
}

.fgta5-modal-loadermask-msg-icon {
	display: inline-block;
	width: 32px;
	height: 32px;
}

.fgta5-modal-loadermask-msg-text {
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
}